<div class="title p-3 is-flex">
  <div class="is-flex is-align-items-center">
    <!-- Logo and WeatherTop text -->
    <img src="https://cdn.glitch.global/15a2efd3-f840-49ac-a10b-ac8fe4da5196/cloudy.png?v=1724030536488" alt="WeatherTop Logo" width="44" height="44">
    <div class="ml-3">
      <span class="is-size-4 has-text-weight-bold has-text-primary">WeatherTop</span>
    </div>
  </div>
  <!-- Company description text -->
  <div class="ml-4">
    <span class="is-size-5">WeatherTop Services Inc.</span>
  </div>
</div>