{{> menu active="about"}}

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      
      <!-- Left column is text centered -->
      <div class="column is-half">
        <h1 class="title">Weather App</h1>
        <p>Monitor the latest weather station readings</p>
      </div>

      <!-- Right column has image -->
      <div class="column is-half">
        <figure class="image">
          <img src="https://cdn.glitch.global/15a2efd3-f840-49ac-a10b-ac8fe4da5196/weather.png?v=1724031538687" alt="Weather Icons">
        </figure>
      </div>
    </div>
  </div>
</section>